footer {
	background-color: $footer-grey;
	color: $light-grey;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	padding-bottom: 3rem;

	.footer__logo {
		width: 200px;
		margin: 1rem;
	}

	.footer__info {
		display: flex;
		flex-direction: column;

		div {
			
			h5 {
				font-size: 1.3rem;
				margin-bottom: 1.5rem;
				margin-left: 1rem;
			}

			p {
				font-size: 0.6rem;
				text-transform: uppercase;
				margin-left: 1rem;

				span {
					font-size: 1rem;
					display: block;
					text-transform: initial;
					margin-bottom: 1.5rem;
				}
			}
		}

		a {
			display: block;
			margin-left: 1rem;
			margin-bottom: 1.5rem;
			color: $light-grey;

			&:visited {
				color: $light-grey;
			}
		}
	}
	
	h6 {
		text-align: center;
		margin-top: 2rem;
		font-size: 1.1rem;
	}
}
