.menu {
	position: fixed;
	top: 0;
	transform: translateX(110%);
	transition: transform 0.3s ease-in-out;
	background-color: #FFF;
	padding: 1rem;
	width: 100vw;
	height: 100vh;
	z-index: 10;

	div {
		padding: 0;
		display: flex;
		justify-content: space-between;    

		span {
			display: inline-block;
			font-size: 1.5rem;
			padding: 1rem;
		}
	}

	.close {
		padding: 2rem;
	}
	
	ul {
		margin-top: 3rem;
		list-style: none;

		li {
			margin: 1rem auto;
			background-color: $red;
			color: #FFF;
			padding: 0.5rem 1.5rem;
			border-radius: 50px;
			text-align: center;
			max-width: 360px;
			
			span {
				display: inline;
				padding-left: 1rem;
				text-align: right;
				font-size: 1.3rem;
			}
		}
	}
}

